<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - FirstHand</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script>
        let MainModule = angular.module("MainModuleX", []);
        let MainController = MainModule.controller("MainControllerX", function ($scope, $http) {
            $scope.JSONarrayMain = []
            $scope.doFetchWork = function () {
                let url = "/find-work-bck"
                $http.get(url).then(fxSuccess, fxFail);
                function fxSuccess(response) {
                    $scope.JSONarrayinner=[]
                    $scope.JSONarrayinner=response.data;
                    $scope.JSONarrayMain=$scope.JSONarrayinner;
                }
                function fxFail(err) { alert(err.data) };
            }
            $scope.dofetchallcity = function () {
                let url = "/all-records-client-city";
                $http.get(url).then(fxSuccess, fxFail);

                function fxSuccess(response) {
                    // alert(JSON.stringify(response.data));
                    $scope.JSONarrayMain = response.data;

                }
                function fxFail(err) {
                    alert(err.data);
                }
            }

            $scope.dofetchalltitle = function () {
                let url = "/all-records-client-title";
                $http.get(url).then(fxSuccess, fxFail);

                function fxSuccess(response) {
                    alert(JSON.stringify(response.data)+" fetchtitle");
                    $scope.JSONarray = response.data;

                }
                function fxFail(err) {
                    alert(err.data+" fetchtitle error");
                }
            }
            $scope.dofetchDataAPIcity = function () {
                let url = "/all-filtered-city";
                $http.get(url).then(fxSuccess, fxFail);
                function fxSuccess(response) {
                    alert(JSON.stringify(response.data)+" filtercity");
                    let url="/all-filtered-city?"+scity;
                    $scope.JSONarray = response.data;
                }
                function fxFail(err) {
                    alert(err.data+" filtercityerror");
                }
            }

        })
       
    </script>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        table {
            display: table;
            border-collapse: separate;
            border-spacing: 2px;
            border-color: gray;
        }
    </style>
</head>
    <body ng-app="MainModuleX" ng-controller="MainControllerX" ng-init="doFetchWork()">
        <div class="container">
            <div class="row">
                <div class="col-md-3  mt-5 mb-5 " style="margin-left: 15px;">
                    <div class="row mb-4 ">
                        <div class="col-md-2">
                        <label for="filtercity"
                            style="margin-left: 5px; margin-bottom: 9px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;City</label><br>
                        <select ng-model="scity" style="width: 150px;margin-left: 20px;" id="filtercity" ng-change="dofetchDataAPIcity()">
                            <option value="">Select</option>
                            <option ng-repeat="obj in JSONarray" value="{{obj.city}}">{{obj.city}}</option>
                        </select>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-2">
                                <input type="button" id="filtercityBtn" class="btn btn-primary" value="Filter City" ng-click="dofetchDataAPIcity()">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4 mt-3">
                        <label for="filterjobtitle" style="margin-left: 5px; margin-bottom: 9px;">&nbsp;&nbsp;&nbsp;Job Title</label><br>
                        <select ng-model="stitle" style="width: 150px;margin-left: 20px;" id="filterjobtitle">
                            <option value="">Select</option>
                            <option ng-repeat="obj in JSONarray" value="{{obj.jobtitle}}">{{obj.jobtitle}}</option>
                        </select>
                    </div>
                    <div class="row mb-5 col-md-2">
                        <div>
                            <!-- <input type="button" class="btn btn-primary" ng-click="doFetchVol()" value="Fetch All"> -->
                        </div>
                        <div class="col-md-6">
                            <table width="800">
                                <tr align="center">
                                    <th>Job ID</th>
                                    <th>Client ID</th>
                                    <th>Job Title</th>
                                    <th>Job Type</th>
                                    <!-- <th>Address</th> -->
                                    <th>City</th>
                                    <th>Education Required?</th>
                                </tr>
                                <tr align="center" ng-repeat="obj in JSONarray">
                                    <td>{{obj.jobid}}</td>
                                    <td>{{obj.cid}}</td>
                                    <td>{{obj.jobtitle}}</td>
                                    <td>{{obj.jobtype}}</td>
                                    <!-- <td>{{obj.address}}</td> -->
                                    <td>{{obj.city}}</td>
                                    <td>{{obj.edu}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
    
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                    crossorigin="anonymous"></script>
    </body>
</html>